div.parent {
    text-align: center;
}

ol, ul {
    display: inline-block;
    text-align: left;
}

.container {
    border: 5px solid orange;
    display: flex;
    flex-direction: column;
}

.container > div {
    padding: 10px;
    text-align: center;
    color: #ffeead;
}

.container > div:nth-child(1) {
    background-color: #96ceb4;
}

.container > div:nth-child(2) {
    background-color: #88d8b0;
}

.container > div:nth-child(3) {
    background-color: #ff6f69;
}

h1, h2, p {
    font-family: Arial;
    font-weight: 800px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

body {
    background-color: beige;
}